<!DOCTYPE html>
<html ng-app>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
	function Hello($scope, $http) {
		$http
				.get(
						'http://localhost:8080/ksu-capstone-project-app/rest/hello/mkyong')
				.success(function(data) {
					$scope.json = data;
				});
	}
</script>

<script>
	function getTestREst() {

		jQuery
				.ajax({
					type : "GET",
					url : "http://localhost:8080/ksu-capstone-project-app/rest/hello/testRestClient",
					/* contentType: "application/json; charset=utf-8", */
					/* dataType: "json", */
					success : function(data, status, jqXHR) {
						$('#testrest').html(data);
					},

					error : function(jqXHR, status) {
					}
				});

	}
</script>
</head>
<body>
	<button onclick="getTestREst()">Click !!</button>
	
	<p id="testrest"></p>
	Write some text in textbox:
    <input type="text" ng-model="sometext" />
 
    </h1>Hello {{ sometext }}</h1>
	
	
</body>

</html ng-app>