
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form>
        <div>
            <label>Username</label>
            <input type="text"  ng-model="form.username" required />
        </div>
        <div >
            <label>Password</label>
            <input type="password" ng-model="form.password" required />
        </div>
        <div >
            <button ng-click="validatelogin()" >Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>