
<!--
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form>
        <div>
            <label>Username</label>
            <input type="text"  ng-model="form.username" required />
        </div>
        <div >
            <label>Password</label>
            <input type="password" ng-model="form.password" required />
        </div>
        <div >
            <button ng-click="validatelogin()" >Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
-->

<div class="col-md-6 col-md-offset-3" style="background-color: aliceblue">
    <h2>Login</h2>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
 <!--   <form name="form" ng-submit="validatelogin()" role="form">-->
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="form.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="form.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-click="validatelogin()" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
            <button type="submit" ng-click="register()" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            <button type="submit"  ng-click="ok()" ng-disabled="form.$invalid" class="btn btn-primary">Cancel</button>
        </div>
<!--    </form>-->
</div>